*.pyc
*.pyo
*.pyd
__pycache__/
*.env

venv/
ENV/
env/
*.venv
pip-log.txt

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

*.log
*.out
*.err

.DS_Store
Thumbs.db

.tox/
.cache/
.coverage
nosetests.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

*.sqlite3
*.migrations/

.ipynb_checkpoints/

build/
dist/
*.egg-info/
.eggs/

*.dockerfile
docker-compose.override.yml