<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ book.title }} Kitobi uchun Sharhlar</title>
</head>
<body>
    <h1>{{ book.title }} Kitobi uchun Sharhlar</h1>

    <h2>Yozilgan Sharhlar:</h2>
    {% for review in reviews %}
    <ul>
        <li><strong>Sharh yozuvchi:</strong> {{ review.reviewer_name }}</li>
        <li><strong>Baho:</strong> {{ review.rating }}</li>
        <li><strong>Izoh:</strong> {{ review.comment }}</li>
        <li><strong>Sharh yozilgan vaqt:</strong> {{ review.created_at }}</li>
    </ul>
    {% endfor %}
</body>
</html>