<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sharhlar</title>

    <style>
        h2 {
        text-align: center;
        }
    </style>
</head>
<body>
    <h2><b><i>Kitoblar uchun sharhlar</i></b></h2>
    {% for review in reviews %}
    <ul>
        <li><strong>Kitob nomi:</strong> <font size="4">"{{ review.book }}"</font></li>
        <li><strong>Sharh yozuvchi:</strong> {{ review.reviewer_name }}</li>
        <li><strong>Baho:</strong> {{ review.rating }}</li>
        <li><strong>Izoh:</strong> {{ review.comment }}</li>
        <li><strong>Sharh yozilgan vaqt:</strong> {{ review.created_at }}</li>
    </ul>
    {% endfor %}
</body>
</html>
